* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    html{
    scroll-behavior: smooth;
    
}
    
    .gallery{
        display: flex;
        overflow-x: scroll;
        
        
    }
    .gallery div{
        flex:none;
    }  

.img1{
width: 100%;    
height: 125vh;
}

.img2{
    width: 100%;
            height: 125vh;
    }         
.img3{
            width: 100%;
        height: 125vh;    
        
    } 
    
.img4{
    width: 100%;    
    height: 125vh;
    }
    

.arrowleft{
position: absolute;
transform: rotate(-90deg);
    margin-left: 95%;
    cursor: pointer;
    margin-top: 260px;
    width: 5%;
}
.arrowright{
    position: absolute;
    width: 5%;
    margin-top: 260px;
    cursor: pointer;
    font-size: 40px;
transform: rotate(90deg);
}
.blackwitch{
    width: 25%;
position: absolute;
}
.nextpg{
    font-family:'Times New Roman', Times, serif;
font-size: 30px;
position: absolute;
color: transparent;
text-decoration: none;
-webkit-text-stroke:0.6px white;
margin-left: 1170px;
margin-top: 17px;
}
.nextpg:hover{
color: white;
}

.chapter1{
    -webkit-text-stroke:0.6px white;
position: absolute;
font-family:'Times New Roman', Times, serif;
color: transparent;
text-decoration: none;
font-size: 20px;
margin-left: 25%;
margin-top: 20px;
}

.chapter2{
-webkit-text-stroke:0.6px white;
position: absolute;
font-family:'Times New Roman', Times, serif;
color: transparent;
text-decoration: none;
font-size: 20px;
margin-left: 32%;
margin-top: 20px;
}

.chapter3{
-webkit-text-stroke:0.6px white;
position: absolute;
font-size: 20px;
margin-left: 39.2%;
margin-top: 20px;
font-family:'Times New Roman', Times, serif;
color: transparent;
text-decoration: none;
}

.chapter4{
    margin-top: 20px;
    -webkit-text-stroke:0.6px white;
position: absolute;
font-family:'Times New Roman', Times, serif;
color: transparent;
font-size: 20px;
margin-left: 47%;
margin-top: 20px;
text-decoration: none;
}

.chapter5{
    -webkit-text-stroke:0.6px white;
position: absolute;
font-family:'Times New Roman', Times, serif;
color: transparent;
text-decoration: none;
font-size: 20px;
margin-left: 55%;
margin-top: 20px;
}

.chapter6{
    -webkit-text-stroke:0.6px white;
position: absolute;
font-family:'Times New Roman', Times, serif;
color: transparent;
text-decoration: none;
font-size: 20px;
margin-left: 62.5%;
margin-top: 20px;
}

.chapter7{
    -webkit-text-stroke:0.6px white;
position: absolute;
font-family:'Times New Roman', Times, serif;
color: transparent;
font-size: 20px;
margin-left: 70%;
margin-top: 20px;
text-decoration: none;
}


.signup{
    position: absolute;
font-size: 25px;
text-decoration: none;
color: transparent;
-webkit-text-stroke:0.6px white;
margin-left: 78.7%;
font-family:'Times New Roman', Times, serif;
    margin-top: 18px;

}


.signup:hover{
    color: white;

}
.chapter1:hover{
    color: white;

}
.chapter2:hover{
    color: white;

}.chapter3:hover{
    color: white;

}.chapter4:hover{
    color: white;

}.chapter5:hover{
    color: white;

}.chapter6:hover{
    color: white;

}.chapter7:hover{
    color: white;

}
.blfon2{
    position: absolute;
    width: 100%;
    margin-top: -22px;
}

.blfon{
    position: absolute;
    width: 100%;
    margin-top: 1010px;
    transform: rotate(180deg);
}
.square{
width: 32%;
margin-left: 35%;
position: absolute;
border-radius: 10px;
height: 75vh;
margin-top: -460px;
border: 2px solid rgb(255,255,255,.2);
background: transparent;
backdrop-filter: blur(20px);
}
input{
    padding: 20px 45px 20px 20px;
    font-size: 14px;
    border: 1px solid white;
    background: transparent;
    font-weight: 600;
}
input::placeholder{
    color: black;
    font-weight: 900;
    font-size: 14px;
}
input:hover{
    transition: 0.4s ease-in-out;
    background: linear-gradient(to top right);
    box-shadow:  3px 3px  25px hsl(0, 100%, 38%);
}
.user{
    margin-top: 100px;
    margin-left: 50px;
    width: 80%;

height: 7.5vh;
border-radius: 40px;
    
}

.pass{
    margin-left: 50px;
    margin-top: 30px;
border-radius: 40px;
height: 7.5vh;
width: 80%;
}
.imgemail{
    margin-left: 350px;
width: 8%;
margin-top: 112px;
position: absolute;
}

.email{
    margin-left: 50px;
    margin-top:105px;
    position: absolute;
border-radius: 40px;
height: 7.5vh;
width: 80%;
}


.block{
width: 6%;
position: absolute;
margin-top: 187px;
margin-left: 350px;

}
.checkin{
    width: 0;
    position: absolute;
    margin-top: 177px;
    margin-left: -348px;
    
    }
.pers{
margin-left: -45px;
width: 6%;
position: absolute;
margin-top: -35px;
}
.check{
margin-left: 48px;
margin-top: 111px;
width: 3%;
height: 2vh;
background-color: white;
position: absolute;
}

.remember{
margin-top: 110px;
font-size: 14px;
font-weight: 900;
color: white;
    position: absolute;
margin-left: 68px;
cursor:pointer;
}
.forgot{
    margin-top:110px;
    font-size: 14px;
    font-weight:600;
    width: 30%;
    color:white;
        position: absolute;
    margin-left: 290px;
    }
    .forgot:hover{
        cursor: pointer;
    text-decoration-line: underline;

    }
    .logins{
background-color: white;
width: 35%;
margin-top: 30px;
position: absolute;
height: 7vh;
transition: 0.4s ease;
margin-left: 70px;
color: white;
cursor: pointer;
border-radius: 40px;

}
.registr{
    font-size:20px;
    margin-left: 260px;
    margin-top: 37px;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    cursor: pointer;
    
    }  
    .registr:hover{
        transform: scale(1.1);
    }
    
.login{
    cursor: pointer;
    font-size:20px;
color: black;
font-weight: 900;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
position: absolute;
    margin-top: 38px;
    margin-left: 120px;
} 
.login:hover{
    transform: scale(1.1);
}


.boxlog{
margin-left: 50px;
position: absolute;
margin-top: 140px;
background-color: white;
width: 80%;
font-weight: 900;
font-family: sans-serif;
height: 7.5vh;
border-radius: 40px;
font-size: 20px;
display: flex;
justify-content: center;
align-items: center;
}
.boxlog:hover{
    color: white;
    background-color:black;
cursor: pointer;
}

.dont{
    margin-top: 200px;
    font-size: 14px;
    color: white;
    font-weight: 900;
        position: absolute;
    margin-left: 130px;
    opacity: 0.6;
}

.reg{
    margin-top: 200px;
    font-size: 14px;
    font-weight:900;
    color: white;
    position: absolute;
    margin-left: 275px;
    cursor: pointer;
}

.reg:hover{
    text-decoration-line: underline;

}

   .black{
    background-color: black;
width: 100%;
height: 570vh;
margin-top: -25px;

}

.wfd{
    width:70%;
position: absolute;
margin-top: 2625px;
margin-left: 200px;
}

.images1{
    width: 35%;
position: absolute;
margin-top: -21px;
    margin-left: 15%;
}
.images2{
    width: 35%;
position: absolute;
    margin-top: -21px;
    margin-left: 50%;
}

.images3{
    width: 31%;
position: absolute;
    margin-top: 244px;
    margin-left: 50%;
}
.images4{
    width: 28%;
position: absolute;
    margin-top: 244px;
    margin-left: 22%;
}

.images5{
    width: 35%;
position: absolute;
    margin-top: 480px;
    margin-left: 15%;
}


.images6{
    width: 35%;
position: absolute;
    margin-left: 50%;
    margin-top: 480px;
    height: 44vh;
}






.fonimg1{
position:absolute ;
margin-left: 15%;
width: 35%;
color: transparent;
height: 44vh;

transform: 100%;
font-size: 18px;
display: flex;
align-items: end;
    margin-top: -21px;

}
.fonimg1:hover{
background-color: black;
width: 35%;
font-size: 18px;
opacity: 0.7;
transition: 2s;
-webkit-text-stroke:.7px rgb(194, 194, 194);
margin-top: -21px;
}


.fonimg2{
    position:absolute ;
    background: transparent;
    margin-left: 50%;
    width: 35%;
    height: 44vh;
    font-size: 18px;
    margin-top: -21px;
    display: flex;
    align-items: end;
color: transparent;    
    }
    
    .fonimg2:hover{
    background-color: black;
    width: 35%;
    opacity: 0.6;
    -webkit-text-stroke:.7px rgb(194, 194, 194);

    transition: 2s;
    
    }
    
    

    .fonimg3{
        position:absolute ;
        margin-left: 15%;
        width: 31%;
        color: transparent;
        height: 39vh;
        font-size: 18px; 
        margin-top: 244px;
    margin-left: 50%;
    display: flex;
        align-items: end;
        
        }
        .fonimg3:hover{
            background-color: black;
            width: 31%;
            font-size: 18px;
            opacity: 0.7;
-webkit-text-stroke:.7px rgb(194, 194, 194);

            transition: 2s;
                    }
            
            

    .fonimg4{
        position:absolute ;
        width: 28%;
        position: absolute;
            margin-top: 244px;
            margin-left: 22%;
        color: transparent;
        height: 39vh;
        font-size: 20px; 
    display: flex;
        align-items: end;
        
        }
        .fonimg4:hover{
            background-color: black;
            width: 28%;
            font-size: 20px;
            opacity: 0.7;
-webkit-text-stroke:.7px rgb(194, 194, 194);

            transition: 2s;
            }
            

            
.fonimg5{
    position:absolute ;
    width: 35%;
    color: transparent;
    height: 44vh;
    font-size: 20px;
    display: flex;    
    margin-top: 480px;
    margin-left: 15%;
    align-items: end;
    
    }
    
    .fonimg5:hover{
    background-color: black;
    width: 35%;
    font-size: 20px;
    opacity: 0.7;
-webkit-text-stroke:.7px rgb(194, 194, 194);

    transition: 2s;
    }
    

    
.fonimg6{
    position:absolute ;
    width: 35%;
    color: transparent;
    height: 44vh;
    margin-top: 480px;
    margin-left: 50%;
    font-size: 20px;
    display: flex;
    align-items: end;
    
    }
    .fonimg6:hover{
    background-color: black;
    width: 35%;
    font-size: 20px;
    opacity: 0.7;
-webkit-text-stroke:.7px rgb(194, 194, 194);
   
    transition: 2s;
    }
    


.circle1{
    position: absolute;
    margin-top:840px;
margin-left: 30px;
    width: 18%;
}
.circle2{
    position: absolute;
    width: 18%;
    margin-left: 82%;
    margin-top:840px;
    
}
.atmosfer{
    position: absolute;
    width: 60%;
    margin-left: 20%;
    margin-top: 850px;
}




.texts2{
    margin-top: 1520px;
    color: white;
    position: absolute;
    font-size: 120px;
    margin-left:70px;-webkit-box-reflect: below
    1px linear-gradient(transparent,white);

}
.witcher{
    margin-top: 820px;
    -webkit-text-stroke:0.7px white;
    color: transparent;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 250px;
    margin-left: 19%;
    position: absolute;

}

.red-skin{
    position: absolute;
    width: 100%;
    color: transparent;
    margin-top:1850px;
    font-size: 671px;
    background: url('https://baldezh.top/uploads/posts/2022-08/1660139450_24-funart-pro-p-cherno-krasnii-fon-dlya-rabochego-stola-kr-26.jpg');
    animation: animate 30s linear infinite ;
}
@keyframes animate{
    from{
        background-position: 0 0;
    }
    to{
        background-position: 100% 100%;
    }
} 

     .menu1{
        width: 27%;
        margin-left: 5%;
        position: absolute;
        
        border-radius: 40px;
        height: 65vh;
        border: 2px solid rgb(255,255,255,.2);
        margin-top:1980px;
        backdrop-filter: blur(20px);
        box-shadow: 0 0 10px rgba(0,0,0.2);
        }
    .titan{
        position: absolute;
        margin-top:2030px;
        margin-left: 110px;
        font-size: 35px;
        color: white;
font-family: 'Courier New', Courier, monospace;
}
    .damage1{
        position: absolute;
        margin-top:2085px;
        font-size: 35px;
        margin-left: 110px;
        color: white;
font-family: 'Courier New', Courier, monospace;
    }
    .armor1{
        position: absolute;
        margin-top:2130px;
        margin-left: 110px;
        font-size: 35px;
        color: white;
font-family: 'Courier New', Courier, monospace;

    }
    .lorem1{
        margin-left: 100px;
        position: absolute;
        margin-top:2215px;
        width: 20%;
        margin-left: 130px;
        font-size: 15px;
        color: white;
font-family: 'Courier New', Courier, monospace;
    }

.whitefone1{
    position: absolute;
        margin-left: 248px;
        margin-top:2100px;
        width: 150px;
    height: 1.5vh;
    border: 1px solid white;
    }

.redfone1{
    position: absolute;
        margin-left: 248px;
        margin-top:2147px;
    width: 150px;
    border: 1px solid white;
    height: 1.5vh;

}

.whitefone2{
    position: absolute;
        margin-left: 248px;
        
        margin-top:2100px;
        width: 80px;
        background-color: white;
    height: 1.5vh;
    }
.redfone2{
    position: absolute;
    margin-left: 263px;
        width: 125px;
height: 1.5vh;
margin-top:2147px;
margin-left: 248px;

background-color: rgb(222, 0, 0);

}
.pauk1{
    width:2.5%;
    position: absolute;
    margin-top:2320px;
    margin-left: 355px;
}
        .menu2{
            width: 27%;
            position: absolute;
            margin-top:2150px;
            margin-left: 65%;
            border-radius: 40px;
            height: 65vh;
            border: 2px solid rgb(255,255,255,.2);
            backdrop-filter: blur(20px);
            box-shadow: 0 0 10px rgba(0,0,0.2);
            }
            


            .iron{
                position: absolute;
                margin-top:2210px;
                margin-left: 920px;
                font-size: 35px;
                color: white;
        font-family: 'Courier New', Courier, monospace;
            }
            .damage2{
                position: absolute;
                margin-left: 920px;
                
                   margin-top:2265px;
                font-size: 35px;
                color: white;
        font-family: 'Courier New', Courier, monospace;
            }
            .armor2{
                margin-left: 920px;
                
                margin-top:2310px;
                position: absolute;
                font-size: 35px;
                color: white;
        font-family: 'Courier New', Courier, monospace;
        
            }
            .lorem2{
                margin-left: 100px;
                position: absolute;
                font-size: 15px;
                color: white;
                width: 20%;
                margin-top:2390px;
                margin-left: 930px;
        font-family: 'Courier New', Courier, monospace;
            }
            .pauk2{
                width:2.5%;
                position: absolute;
                margin-top:2213px;

                margin-left: 1170px;
            }


.klor1{
    position: absolute;
    margin-top:2180px;
    margin-left: 415px;
    width: 1%;
    height: 2.2vh;
    border-radius: 500px;
background-color: white;
}

.klor2{
    position: absolute;
    margin-top:2344px;
    margin-left: 474px;
    width: 1%;
    height: 2.2vh;
    border-radius: 500px;
background-color: white;
}
.line1{
    position: absolute;
    margin-top:2185px;
    margin-left: 428px;
    width: 4%;
    border-radius: 50px;
border: 1px solid white;
}

.line2{
    position: absolute;
    margin-top:2266px;
    margin-left: 400px;
    width: 12%;
    transform: rotate(90deg);
    border-radius: 50px;
border: 1px solid white;
}


.klor3{
    position: absolute;
    margin-top:2300px;
    margin-left: 916px;
    width: 1%;
    height: 2.2vh;
    border-radius: 500px;
background-color: white;
}

.klor4{
    position: absolute;
    width: 1%; 
    margin-left: 694px;

    margin-top:2343px;
    height: 2.2vh;
    border-radius: 500px;
background-color: white;
}
.line3{
    position: absolute;
    margin-top:2306px;
    margin-left: 700px;
    border-radius: 50px;
    width: 16%;
    border: 1px solid white;

}
    

.line4{
    position: absolute;
    margin-top:2325px;
    margin-left: 683px;
    width: 2.7%;
    transform: rotate(90deg);
    border-radius: 50px;
border: 1px solid white;
}

.whf{
    width: 100%;
    height: 125vh;
    margin-top:2622px;
    position: absolute;
}


.boxing1{
    border-radius: 100px;
    width: 280px;
    height: 410px;
    margin-left: 90px;
    position: absolute;
transition: 1s;
animation-duration: 20s;
animation-name: box1;
animation-delay: 1s;
animation-iteration-count: infinite;
}
@keyframes box1{
    0%{
    }100%{
        filter: brightness(2.5);
        
    }
}
.wrap1{
    position: absolute;
    left: 0;
    top: 0;
    display: flex;

    justify-content: center;
    align-items: center;
}
.card1{
    margin-top:7500px;
margin-left: -178px;
position: absolute;
    perspective: 1000px;
}


.back1{
    margin-left:90px;
    width: 280px;
    height: 410px;

    border-radius: 100px;
    border: 1px white solid;

background-color:black;
transform: rotateY(180deg);    
}

.card1:hover .boxing1{transform:rotateY(180deg)}
.card1:hover .back1{transform:rotateY(360deg)}


.boxing1,.back1{
    transition: 1s;
position: absolute;
display: flex;
justify-content: center;
align-items: center;
backface-visibility: hidden;
}



.boxing2{
    border-radius: 100px;
    width: 280px;
    height: 410px;
    margin-left: 350px;
    position: absolute;
transition: 1s;
animation-duration: 20s;
animation-name: box2;
animation-delay: 1s;
animation-iteration-count: infinite;
}
@keyframes box2{
    0%{
    }100%{
        filter: brightness(2.5);
        
    }
}


.wrap2{
    left: 0;
    top: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card2{
    margin-top:7500px;
position: absolute;
    perspective: 1000px;
}


.back2{
    width: 280px;
    height: 410px;
    margin-left: 350px;
    border-radius: 100px;
    border: 1px white solid;
background-color:black;
transform: rotateY(180deg);    
}

.card2:hover:hover .boxing2{transform:rotateY(180deg)}
.card2:hover .back2{transform:rotateY(360deg)}


.boxing2,.back2{
    transition: 1s;
position: absolute;
display: flex;
justify-content: center;
align-items: center;
backface-visibility: hidden;
}




.boxing3{
    border-radius: 100px;
    width: 280px;
    height: 410px;
    position: absolute;
transition: 1s;
margin-left: 240px;
animation-duration: 20s;
animation-name: box3;
animation-delay: 1s;
animation-iteration-count: infinite;
}
@keyframes box3{
    0%{
    }100%{
        filter: brightness(2.5);
        
    }
}
.wrap3{
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card3{
    margin-top:7500px;
position: absolute;
    perspective: 1000px;
    margin-left: 950px;
}


.back3{
    width: 280px;
    height: 410px;
    margin-left: 240px;
    border-radius: 100px;
    border: 1px white solid;
background-color:black;
transform: rotateY(180deg);    
}

.card3:hover .boxing3{transform:rotateY(180deg)}
.card3:hover .back3{transform:rotateY(360deg)}


.boxing3,.back3{
    transition: 1s;
position: absolute;
display: flex;
justify-content: center;
align-items: center;
backface-visibility: hidden;
}





.boxing4{
    border-radius: 100px;
    width: 280px;
    height: 410px;
    position: absolute;
transition: 1s;
animation-duration: 20s;
animation-name: box4;
animation-delay: 1s;
animation-iteration-count: infinite;
}
@keyframes box4{
    0%{
    }100%{
        filter: brightness(2.5);
        
    }
}
.wrap4{
    position: absolute;
    left: 0;
    top: 0;
    display: flex;  

    justify-content: center;
    align-items: center;
}
.card4{
    margin-top:7500px;
margin-left: 2122px;
position: absolute;
    perspective: 1000px;
}


.back4{
    width: 280px;
    height: 410px;
    border-radius: 100px;
    border: 1px white solid;
background-color:black;
transform: rotateY(180deg);    
}

.card4:hover .boxing4{transform:rotateY(180deg)}
.card4:hover .back4{transform:rotateY(360deg)}


.boxing4,.back4{
    transition: 1s;
position: absolute;
display: flex;
justify-content: center;
align-items: center;
backface-visibility: hidden;
}
  





.textwitch1{
width: 100%;
position: absolute;
margin-top: -280px;
}

.bonus1{
color: white;
margin-left: 10px;  
font-size: 15px;
text-shadow: 3px 3px 30px rgb(212, 95, 0);
}

.fire1{
    position: absolute;
width: 70%;
margin-top: 260px;
}

.textwitch2{
    width:100%;
    position: absolute;
    margin-top: -280px;
    }

    .bonus1{
        color: white;
        margin-left: 10px;  
        font-size: 15px;
        text-shadow: 3px 3px 30px rgb(212, 95, 0);
        }
        
        .fire1{
            position: absolute;
        width: 70%;
        margin-top: 260px;
        }
        
.textwitch2{
    width:100%;
    position: absolute;
    margin-top: -280px;
    }

    .bonus3{
        color: white;
        margin-left: 10px;  
        font-size: 15px;
        text-shadow: 3px 3px 30px rgb(212, 95, 0);
        }
        
        .fire3{
            position: absolute;
        width: 70%;
        margin-top: 260px;
        }
        
.textwitch3{
    width:100%;
    position: absolute;
    margin-top: -280px;
    }

    .bonus3{
        color: white;
        margin-left: 10px;  
        font-size: 15px;
        text-shadow: 3px 3px 30px rgb(212, 95, 0);
        }
        
        .fire3{
            position: absolute;
        width: 70%;
        margin-top: 260px;
        }
        
.textwitch4{
    width:100%;
    position: absolute;
    margin-top: -280px;
    }

    .bonus4{
        margin-left: 10px;  
        color: white;
        font-size: 15px;
        text-shadow: 3px 3px 30px rgb(212, 95, 0);
        }
        
        .fire4{
            position: absolute;
        width: 70%;
        margin-top: 260px;
        }
        


    .hogvarts{
        margin-top: 3380px;
        position: absolute;
        width: 100%;
    }


.thewitcher{
    margin-top: 3520px;
margin-left: 40px;
    position: absolute;
    width: 30%;
}

.complete{
    margin-top: 3750px;
    margin-left: 30px;

    color: transparent;
    position: absolute;
 -webkit-text-stroke: 1px gold;
    font-size: 90px;
}

.lineimg{
    margin-top:4145px;
    width: 18%;
    margin-left: 540px;
    position: absolute;
}
.edition{
    margin-top: 3850px;
    color: transparent;
    position: absolute;
 -webkit-text-stroke: 1px gold;
 margin-left: 80px;
 font-size: 90px;
}

.spitakfon{
    margin-top: 4785px;
    width: 100%;
    height: 110vh;
position: absolute;
color: transparent;
font-size: 671px;
background:url('https://sotni.ru/wp-content/uploads/2023/08/gradient-bezhevyi-s-belym-fon-1.webp') ;
}
@keyframes an{
from{
    background-position: 0 0;
}
to{
    background-position: 100% 100%;
}
} 


.welcometx{
 justify-content: center;
 display: flex;

}
.welcome{
    margin-top: 4230px;
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(42, 42, 42);
 font-size: 80px;
 display: flex;

 justify-content: center;
}

.witch{
    margin-top: 4310px;
    color: rgb(42, 42, 42);
    position: absolute;
    font-family: fantasy;
    font-size: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}
.become{
    margin-top: 4420px;
   width:45%;
    color: rgb(82, 82, 82);
    position: absolute;
 font-size:20px;

}

.worlds{
    margin-top: 4490px;
     color: rgb(82, 82, 82);
     position: absolute;
  font-size:25px;
 
}


.lauril1{
    margin-top: 4550px;
    position: absolute;
    width: 23%;


}


.lauril2{
    margin-top: 4550px;
    position: absolute;
    width: 23%;
margin-left: 38%;

}
.lauril3{
    margin-top: 4550px;
    position: absolute;
    width: 23%;
    margin-left: 76%;
}

.laurtext1{
    margin-top: 4620px;
    position: absolute;
margin-left: 88px;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color: rgb(45, 45, 45);
    font-size:20px;
}


.laurtext2{
    margin-top: 4645px;
    position: absolute;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(45, 45, 45);
    margin-left: 115px;

font-size: 18px;
}


.laurtext3{
    margin-top: 4620px;
    position: absolute;
margin-left:590px;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color: rgb(45, 45, 45);

font-size: 19px;
}
.laurtext4{
    margin-top: 4645px;
    position: absolute;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left:607px;
color: rgb(45, 45, 45);
font-size: 19px;
}
.laurtext5{
    margin-top:4675px;

    position: absolute;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left:660px;
color: rgb(79, 79, 79);
font-size: 15px;
}

.laurtext6{
    margin-top: 4620px;

    position: absolute;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left:1120px;
color: rgb(45, 45, 45);
font-size: 20px;
}
.laurtext7{
    margin-top:4645px;

    position: absolute;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left:1120px;
color: rgb(45, 45, 45);
font-size: 23px;
}
.laurtext8{
    margin-top:4675px;
    position: absolute;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left:1160px;
color: rgb(79, 79, 79);

font-size: 15px;
}

.laurtext9{
    margin-top:4675px;
    position: absolute;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color: rgb(79, 79, 79);
    margin-left: 125px;

font-size: 15px;
}


.boxline{
    position: absolute;
    margin-top: 4900px;
    width: 96%;
    height: 85vh;
 border: 1px solid white; 
 margin-left: 30px;  
    background-color: rgb(25, 25, 25);
}

.linewhiter{
 border: 1px solid white; 
 position: absolute;
 width: 98.9%;
 margin-top: 7px;
 margin-left: 7px;
 height: 82.5vh;  
}

.thevedmak{
    margin-left: 300px;
    width: 27%;
    margin-top: 100px;
    position: absolute;
}

.vedo{
    margin-top: 200px;
    width: 17%;
    margin-left: 50px;
    position: absolute;
}


.discover{
    margin-left: 800px;
    margin-top: 150px;
    position: absolute;
    color: rgb(213, 213, 213);
    font-weight: 600;
    font-size: 30px;

}
.expl{
    margin-left: 700px;
    margin-top: 200px;
    width: 43%;
    position: absolute;
    color: rgb(156, 156, 156);
    font-size: 20px;
}


.learn{
    position: absolute;
width: 17%;
margin-top: 370px;
margin-left: 900px;
height: 9.8vh;
color:rgb(192, 192, 192);
cursor: pointer;
border: 1px solid rgb(192, 192, 192);

font-weight: 900;
}
.boxlearn{
    position: absolute;
    margin-left: 905px;
    margin-top: 374px;
    border: 2px solid rgb(192, 192, 192);
    height: 8.3vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
color:rgb(192, 192, 192);
align-items: center;
width: 16.2%;
}
.boxlearn:hover{
background-color:rgb(192,192,912) ;
cursor: pointer;
color: black;
}


.blacked{
    height: 96vh;
    margin-top: 5450px;
    width: 100%;
    background-color: black;
    position: absolute;
}


.menugold{
display: flex;
font-size:28px;
position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 5540px;
    margin-left: 90px;
    color: rgb(202, 202, 202);
}
.menugold p{
    margin-left: 40px;
}

.menugold p:hover{
    color: goldenrod;
    cursor: pointer;
}


.twiter{
    position: absolute;
    margin-top: 5610px;
    width: 3%;
    filter: brightness(100);
    cursor: pointer;
    margin-left:500px;
}


.facebook{
    margin-top: 5610px;
    position: absolute;
    filter: brightness(100);
    width: 3%;
    cursor: pointer;
    margin-left:570px;
}


.yootube{
    position: absolute;
    margin-top: 5607px;
    width: 3.5%;
    cursor: pointer;
    margin-left:640px;
    filter: brightness(100);
}



.discord{
    position: absolute;
    width: 3.5%;
    margin-top: 5607px;
    cursor: pointer;
    margin-left:720px;
    filter: brightness(100);
}


.cookie{
    position: absolute;
    margin-top: 5680px;
    cursor: pointer;
    margin-left:575px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    color: rgb(173, 173, 173);
    font-size: 16px;
}

.cookie:hover{
    color: goldenrod;

}

.cd{
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 5720px;
    font-size: 17px;
    width: 50%;
    margin-left:330px;
    color: rgb(173, 173, 173);
}


.rd{
    width: 16%;
    margin-top: 5850px;
    cursor: pointer;
margin-left: 350px;
    position: absolute;
}


.regimg1{
    width: 22%;
    margin-top: 5870px;
    cursor: pointer;
margin-left: 620px;
    position: absolute;
}


.ofuse{
    position: absolute;
    margin-top: 5970px;
    cursor: pointer;
    margin-left:520px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    color: rgb(173, 173, 173);
    font-size: 16px;
}
.top{
    width: 5%;
    cursor: pointer;
    margin-top: 330px;
    transform: rotate(-80deg);
    position: absolute;
    margin-left:100%;

}

